__pycache__/
*.pyc
.venv/
venv/
.env
*.egg-info/
.pytest_cache/
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
!terraform.tfvars.example

